body {
  height: 100%;
  font-family: cursive;
}

h1 {
  text-align: center;
  margin: auto;
}

body p {
  text-align: center;
  margin: auto;
}

#puzzlearea {
  text-align: center;
  margin: auto;
  padding: 15px;
  width: 400px;
  height: 400px;
  position: relative;
}

/* 5px borders take up 10 px total, so the image will take up 90px by 90px */
.puzzlepiece {
  background-image: url(background.jpg);
  width: 90px;
  height: 90px;
  float: left;
  text-align: center;
  border: 5px black solid;
  vertical-align: middle;
  font-size: 40px;
  color: black;
  line-height: 100px;
  text-shadow: 1px 5px 10px white;
}

#one {
  background-position: 0 0;
}
#two {
  background-position: -100px 0;
}
#three {
  background-position: -200px 0;
}
#four {
  background-position: -300px 0;
}
#five {
  background-position: 0 -100px;
}
#six {
  background-position: -100px -100px;
}
#seven {
  background-position: -200px -100px;
}
#eight {
  background-position: -300px -100px;
}
#nine {
  background-position: 0 -200px;
}
#ten {
  background-position: -100px -200px;
}
#eleven {
  background-position: -200px -200px;
}
#twelve {
  background-position: -300px -200px;
}
#thirteen {
  background-position: 0 -300px;
}
#fourteen {
  background-position: -100px -300px;
}
#fifteen {
  background-position: -200px -300px;
}
#sixteen {
  border: 2px solid white !important;
}

#shufflebutton {
  display: block;
  margin: 10px auto;
  font-family: cursive;
}
