body {
  height: 100%;
  font-family: cursive;
}

h1 {
  text-align: center;
  margin: auto;
}

body p {
  text-align: center;
  margin: auto;
}

#puzzlearea {
  font-size: 40px;
  margin: auto;
  width: 400px;
  height: 400px;
  position: relative;
}

#boardSpace {
	margin-left: auto;
	margin-right: auto;
  width: 400px;
}

.puzzlepiece {
  background-image: url(background.jpg);
	border: 5px solid black;
	height: 90px;
  width: 90px;
	position: absolute;
  padding: 2px;
  text-align: center;
}

#shufflebutton {
  display: block;
  margin: 10px auto;
  font-family: cursive;
}
